.content {
  max-width: 100%;


  &--3-1 {
    display: grid;
    grid-template-columns: minmax(0, 3fr) minmax(0, 1fr);
    grid-auto-flow: column;
  }

  &--3-1 {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 3fr;
    grid-auto-flow: column;
  }

  &__image {
    overflow: hidden;
    min-width: 0;
    max-height: 300px;
  //  max-width: 100%;
    overflow: hidden;
    img {
      // height: 110%;
      // aspect-ratio: 1 / 1;
      // position: relative;
      // left: -20%;
      // top: -10%;
    }
  }
}