@use '../abstracts' as *;
// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  background-color: $p400;
  color: $p100;
  padding: 3rem;
  font-weight: 200;

  &__contact-options {
    img {
      height: 34px;
      width: 34px;
    }
  }

  &__info {
    margin-top: 4rem;
  }

  &__name {
    font-weight: 200;
  }

  &__nav {
    a {
      color: inherit;
    }
  }
}