@use '../abstracts' as *;
// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  background-color: $p400;
  color: $p100;
  padding: $sp6 $sp4;
  font-weight: 200;

  &__contact-options {
    img {
      height: 40px;
      width: 40px;
    }
  }

  &__info {
    margin: $sp6 auto;
    max-width: 700px;
  }

  &__name {
    font-weight: 300;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  &__nav {
    gap: 1em;
    margin-bottom: 4px;
    display: inline-flex;
    align-items: flex-start;

    a {
      color: inherit;
      //text-decoration: underline;
     // text-underline-offset: 4px;
      display: inline-block;
      position: relative;
      z-index: 2;
      
      &:before {
        height: 2px;
        z-index: -1;
        background-color: $
      }

      @include hocus {
        color: $p300;

        &::before {
          height: calc(100% + 4px);
        }
      }
    }
  }

  &__phone-num,
  &__email {
    display: block;
    margin-top: 1em;
    color: inherit
  }
}