.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;

  &__section {
    justify-content: center;
    justify-content: space-between;
    position: relative;
    display: grid;
    grid-template-areas: "label required"
                         "input    input"
                         "help      help";


  // grid-template-areas:  "label    input"
  //                        "help      help";
  }

  &--double-column {
    .form__section {
    grid-template-areas: "label    input"
                          "required      help";
    }
  }

  &__label {
    grid-area: label;
    margin: 0;
    display: inline;
  }

  &__label--required {

    &::after {
      content: "*";
      display: inline;
      margin-left: 2px;
    }
}

textarea {
  width: 100%;
  height: 10rem;
  padding: 5px;
  padding-top: 7px;
}

&__input {
grid-area: input;
width: 100%;
padding: 5px;
padding-bottom: 3px;
}

&__option {
grid-area: input;
flex: 100%;
}

&__radio-option {
margin-left: 1rem;

input {
  border: 2px solid back;
  margin-right: 5px;
}
}
}