@use '../abstracts' as *;

$required-indicator: $pink;
$input-border: $input-border;
$autofill-bg: $autofill-bg;
$input-border: #F4C8C8;
$autofill-bg: #f8f5ec;
$option-border: #F593A8;
$selected-bg: #F593A8;
$box-shadow: #DF8699;
$box-shadow--darker: #A65468;

$button-gradient-1: #F4C8C8;
$button-gradient-2: #F593A8;


.form {
  margin: 0 auto $sp7;
  width: 100%;
  max-width: 34rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 $sp1;

  input:focus,
  textarea:focus {
    outline:none;
    border-color: #039995;
    background-color: #fff;
  }
  
  &__section:not(.form__section--radio):focus-within,
  &__section--radio:focus-within .form__label,
  &__section--radio:active .form__label {
    font-weight: 500;
  }outline: none;
  }

  &__section {
    flex:1;
    margin: $sp1 0;
    position: relative;
    display: grid;
    grid-template-areas: "label label"
                         "help      help"
                         "input    input";

    &--full-width {
      width: auto;
      max-width: none;
      box-sizing: border-box;
    }
  }

  &__label {
    grid-area: label;
    margin: $sp2 0 0 0;
    }

  &__label--required {
    &::after {
      content: "*";
      color: $required-indicator;
      text-decoration: underline;
      text-decoration-color: $required-indicator;
      text-decoration-style: dotted;
      text-underline-position: auto;
      display: inline;
      margin-left: $sp0;
    }
  }

  input[type="text"],
  input[type="email"] {

    @include atMedium {
    max-width: 20em;
    }
  }

  input[type="tel"] {
    max-width: 15ch
  }

  input[type="date"] {
    display: inline-block;
    align-self: center;
    width: fit-content;
  }

  input, textarea {
    font-family: "Open Sans";
    font-size: 1rem;
    border: 2px solid $input-border;
    display: block;
    flex: 100%;
    border-radius: 0;

    &:autofill {
      box-shadow: 2em 2em 0 0 inset $autofill-bg;
    }
  }
  input[type="date"] {
    color: black;
    display: block;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    min-width: 12ch;
    min-height: calc((1.15 * 1em) + 12px);
  }

  textarea {
    width: 100%;
    max-width: 600px;
    height: $sp7;
    padding: 5px;
    padding-top: 7px;
  }

  &__input {
    grid-area: input;
    width: 100%;
    padding: 5px;
    padding-bottom: 3px;
  }

  &__radio-group {
    padding-top: 0;
    display: inline-grid;
    grid-template-columns: max-content;
    grid-template-rows: minmax(1fr, 100%);

    div {
      grid-area: unset;
    }
  }

  &__radio-option {
  //  display: flex;
   // justify-content: center;
    grid-area: input;

    &:first-child {
      label {
        margin-top: .5rem;
      }
    }
  }

  &__radio-option {
    margin-left: 1rem;
    margin-left: $sp1;
    margin-left: 0;
  }

  .radio {
    position: absolute;
    margin: 0 !important;
    padding: 0 !important;
    opacity: 0;
    height: 0;
    width: 0;
    pointer-events: none;
  }

  .radio-label {
    display: inline-grid;
    gap: 0 10px;
    grid-template-areas: "indicator label";
    grid-template-columns: 40px 3fr;
    min-width: 65%;
    margin: .5em .75rem;
    padding: 0 10px;
    border: 2px solid $option-border;
    justify-content: center;
    line-height: 1.2;
    user-select: none;
    cursor: pointer;
    align-items: center;
    position:relative;

    @include atMedium {
   //   min-width: 65%;
    }

    span {
      grid-area: label;
      margin: 0 .5rem;
    }

    // &:hover {
      @include hocus {
      box-shadow: 5px 5px 5px 0 #{$box-shadow}4d;
      background-color: #ffffffaf;
      filter: brightness(110%)
    }

    &::before {
      content: ' ';
      box-sizing: content-box;
      position: relative;
      padding: .25rem 0;
      place-self: center;
      display: block;
      background-repeat:  no-repeat;
      background-position:  center center;
      background-size: contain;
      height: 30px;
      width: 30px;
      padding-left: .5rem;
      overflow: visible;
    }
  }

  .radio:checked {
    + .radio-label {
      background-color: $selected-bg;
      border-color: transparent;
      &::before {
        background-image: url('https://api.iconify.design/bx/bx-check.svg?color=%23f7ded9&width=30&height=30');
      }
    }
  }
  
  .radio:checked:active, 
  .radio:focus {
    + .radio-label {
      box-shadow: 5px 5px 5px 0 #{$box-shadow}4d;
      filter: brightness(110%)
    }
  }

  .help {
    grid-area: help;
    margin: 0
  }

  #callTimeSection {
    display: none;
  }

  $bg-color: $input-border;

.button {
  font-size: inherit;
  font-family: inherit;
  font-weight: 300;
  color: inherit;

  border: none;
  background-color: $bg-color;
  box-shadow: 5px 5px 5px 0 #{$box-shadow}4d;
  padding: .75em;
  margin: 2em 0;
  background-image: linear-gradient(240deg, $button-gradient-1, $button-gradient-2);
  background-size: 200% 200%;
  background-position: 100% 100%;
  line-height: normal;

  transition: background-position 0.5s, box-shadow 200ms ease-out, transform 200ms ease-out;

  @include atMedium {
    max-width: 300px;
  }

  // &:hover {
    @include hocus {
    background-position: 0 0;
    box-shadow: 3px 3px 3px 0 #{$box-shadow--darker}4d;
    transform: translate(1px, 1px);
  }

  &:focus:not(:active) {
    outline: #039995 solid 2px;
    outline-offset: 2px;
  }

  &:active {
    transform: translate(2px, 2px);
    box-shadow: 1px 1px 1px 0 #{$box-shadow--darker}4d;
  }
}
}