@use '../abstracts' as *;
// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &--landing {
  background-image: url("Images/banner-bg_1920x2880.jpg");
  background-size: 100vh;
  background-position: 60% 40%;
    min-height: 100vh;
  margin-bottom: $sp7;

  display: flex;
  align-items: stretch;

  //🔧 Do you need this h1? Visually hide it for screen readers?
  //    Is that redundant with Alt-text?
  h1 {
    display: none;
  }
  }

  &:not(.header--landing) {
    padding: 0 $sp2 0 $sp1;
  }

  &__title {
    display: inline-block;
    font-family: 'Young Heart';
    font-weight: normal;
    font-size: $l3;
    line-height: 1em;
    margin-top: $sp1;
    margin-bottom: $sp1;
    letter-spacing: 2px;
    position: relative;
    top: 2px;
    color: $
  }

  &__content {
    min-height: 100%;
    width: 100%;
    background-color: #f6e9f2bd;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__text {
    padding: 0 $sp2;
    margin: 0 auto;
    font-size: $l3;
    color: $pink;
   // font-family: 'Euphoria Script';
  }
}
