.nav {
  display: flex;

  &--v {
    flex-direction: column;
  }
}

.header-nav {
  
  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }

  &__link {
    padding: .5em 1em;
    margin: 1em auto;
  }
  &.is-active {

  }
}