@use '../abstracts' as *;

.content {
  width: 100%;
  max-width: 1000px;
  gap: $content-gap;
  align-items: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  
  @include atMedium {
    gap: $content-gap;
    display: grid;
  }

  &--2-1 {
    @extend .content;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    grid-auto-flow: column;
  }
  
  &--1-2 {
    @extend .content;
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    grid-auto-flow: column;
  }

  &__left {
    margin-left: auto;
    flex: 1;
    //align-self: stretch;
  }

  &__text {
    p:first-child {
      margin-top: 0;
    }
  }
  &__image {
    order: -1;
    min-height: 200px;
    height: 100%;
    // align-self:stretch;
   // overflow: hidden;
    min-width: 0;
    // min-height: 100%;
    width: 100%;
    max-width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    
    @include atMedium {
      min-height: 0;
      order: unset;
      justify-content: unset;
      align-items: center;
    }
    img {
      //max-height: 100%;
      // aspect-ratio: 1 / 1;
      // position: relative;
      // left: -20%;
      // top: -10%;
      max-width:100%;
    max-height:100%;
    }
  }
}