// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
  font-family: 'Young Heart';
  src: url("Fonts/youngheart/youngheart-wx2o-webfont.woff2") format('woff2'),
       url('Fonts/youngheart/youngheart-wx2o-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}