@use '../abstracts' as *;

/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: 300 18px / 1.75 $text-font-stack;
}
.big{
  font-size: $l3;
  margin-bottom: $sp4;
  color: $pink;
  display: inline-block;

  @include atMedium {
    text
  }
}

.text {
  &--big {
    font-size: $l1;
    margin-bottom: $sp4;
  }
}

