@use '../abstracts' as *;
// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button {
  padding: $sp2 $sp4;
  margin: $sp5 0 0;

  &-link {
    @extend .button;
    display: inline-block;

    @include hocus {
      text-decoration: none;
    }
  }

  &-link--outline {
    background-color: #ffffff00;
    border: 2px solid $pink;
    color: $pink;
    font-weight: 300;

    @include hocus {
      background-color: #{$pink};
      color: #fff;
      font-weight: 200;
    }
  }

  &-link--cta {
    background-color: $pink;
    font-family: 'Euphoria Script';
    font-size: $l4;
    color: white;
    transition: all 300ms ease-in-out; 
    position: relative;
   // overflow: hidden;
    
  

    span {
      display: inline-block;
      margin-top: $sp0;
      z-index: 2;
      position: relative;
    }

    @include hocus {

     background-color: #f396aa;
     box-shadow: 3px 3px 6px 0 #{$box-shadow--darker}4d;
     transform: translate(-2px, -2px);

    }
  }
}
.b_l_quad .button_spots{
  @for $i from 1 through 20{
      &:nth-child(#{$i}){
          padding:random(3) + 2 + px;
          left: -25 + ($i * 12) + px;
          top: 50 + px;
      }
  }
  @for $i from 20 through 40{
      &:nth-child(#{$i}){
          padding:random(3) + 2 + px;
          left: -255 + ($i * 12) + px;
          top: -12 + px;
      }
  }
  @for $i from 40 through 46{
      &:nth-child(#{$i}){
          padding:random(3) + 2 + px;
          left: 204px;
          top: -488 + ($i * 12) + px;
      }
  }

  @for $i from 46 through 52{
      &:nth-child(#{$i}){
          padding:random(3) + 2 + px;
          left: -10px;
          top: -568 + ($i * 12) + px;
      }
  }
}
.button_spots{
  position:absolute;
  border-radius:100px;
  background:green;
  opacity:0;
  animation:opacity 1s;
  @for $i from 1 through 52{
      &:nth-of-type(#{$i}){
          transform-origin:90px - random(10) 20px - random(10);
          background:hsla(350 + random(399) ,57% - random(10) ,65%,1);
          box-shadow:0px 0px 10px rgba(255,255,255,0.12);
          transition:all 1s + random(10)/10;
      }
  }
}
&:hover .button_spots{
  @for $i from 1 through 19{
      &:nth-of-type(#{$i}){
          animation: spot-#{$i} .7s .4/random(10) + random(10)/10 + s linear infinite;
      }
  }
  @for $i from 20 through 40{
      &:nth-of-type(#{$i}){
          animation: spot-#{$i} .7s .4/random(10) + random(10)/10 + s linear infinite;
      }
  }
  @for $i from 40 through 46{
      &:nth-of-type(#{$i}){
          animation: spot-#{$i} .7s .4/random(10) + random(10)/10 + s linear infinite;
      }
  }
  @for $i from 46 through 54{
      &:nth-of-type(#{$i}){
          animation: spot-#{$i} .7s .4/random(10) + random(10)/10 + s linear infinite;
      }
  }
}
}
}

@for $i from 1 through 20{
@keyframes spot-#{$i}{
from{opacity:0;}
to{transform:translateY(30px) translatex(-20px + $i*2);opacity:.6;}
}
}
@for $i from 20 through 40{
@keyframes spot-#{$i}{
from{opacity:0;}
to{transform:translateY(-30px) translatex(-50px + $i*2);opacity:.6;}
}
}
@for $i from 40 through 45{
@keyframes spot-#{$i}{
from{opacity:0;}
to{transform:translateY(-86px + $i*2) translatex(40px);opacity:.6;}
}
}
@for $i from 46 through 54{
@keyframes spot-#{$i}{
from{opacity:0;}
to{transform:translateY(-99px + $i*2) translatex(-40px);opacity:.6;}
}
}

@keyframes opacity{
from{}
to{opacity:0;}
}

@keyframes rotate{
from{opacity:.8}
to{transform:rotate(360deg);opacity:.8}
}

@keyframes down{
from{left:10px;}
to{left:57px;}
}

@keyframes spew{
from{opacity:0;}
to{opacity:0.8;}
}

@keyframes final{
from{opacity:1;}
to{opacity:0;}
}
@keyframes finalbox{
from{}
to{width:50px;}
}
@keyframes tick{
from{}
to{transform:scale(1) rotate(-90deg)}
}