// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button {
  font-family: 'Euphoria Script';
  font-size: 40px;
  color: white;
  background-color: #CE5572;
  padding: .25em .75em;
  border-radius: 1px;
  margin: 50px auto 100px;
  &--link {
    @extend .button;
    display: iblock;

    &:hover {
      text-decoration: none;
    }
  }
}