// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button {
  font-family: 'Euphoria Script';
  font-size: 40px;
  color: white;
  background-color: #CE5572;
  padding: 
  &--link {
    @extend .button;
    &:hover {
      text-decoration: none;
    }
  }
}