@use '../abstracts' as *;
// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button {
  font-size: 40px;
  color: white;
  background-color: $pink;
  padding: .5em 1em;
  border-radius: 1px;
  margin: 75px 0 100px;

  &-link {
    @extend .button;
    display: inline-block;

    &:hover {
      text-decoration: none;
    }
  }

  &-link--outline {
    background-color: #fff;
    border: 2px solid $pink;
    border-radius: 1px;
    color: $pink;
    font-weight: 300;
  }

  &-link--cta {
    font-family: 'Euphoria Script';
    span {
    background-color: none;
    transform: translateY(-5px);
    }
  }
}