@use a
// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button {
  font-family: 'Euphoria Script';
  font-size: 40px;
  color: white;
  background-color: $pink;
  padding: .5em 1em;
  border-radius: 1px;
  margin: 75px 0 100px;
  &--link {
    @extend .button;
    display: inline-block;

    &:hover {
      text-decoration: none;
    }
  }
}