@use '../abstracts' as *;

.contact-options {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto $sp7;
  list-style-type: ;

  &--vertical-list {
    flex-direction: column;
    img {
      height: 34px;
      width: 34px;
    }
  }
  &__option {
    position: relative;

    @include hocus {
      [class*='normal'] {
        opacity: 0;
      }

      [class*='hover'] {
        opacity: 1;
      }
    }
  }

  &__icon--hover{
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
  }
}