@use '../abstracts' as *;

.hamburger {
  display: inline-block;

&__line {
  width: 30px;
height: 3px;
background-color: $p400;
display: block;
margin: 8px auto;
-webkit-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
// &:hover{
  @include hocus{
cursor: pointer;
}

/* ONE */

&.is-active .hamburger__line:nth-child(2){
opacity: 0;
}

&.is-active .hamburger__line:nth-child(1){
-webkit-transform: translateY(10px) rotate(45deg);
-ms-transform: translateY(10px) rotate(45deg);
-o-transform: translateY(10px) rotate(45deg);
transform: translateY(10px) rotate(45deg);
}

&.is-active .hamburger__line:nth-child(3){
-webkit-transform: translateY(-13px) rotate(-45deg);
-ms-transform: translateY(-13px) rotate(-45deg);
-o-transform: translateY(-13px) rotate(-45deg);
transform: translateY(-12px) rotate(-45deg);
}
}