.image {
  height: 100%;
  min-width: 100%;
  background-size: cover;
  &--shanna {
    background-image: url("Images/Photo_930x1001.jpg");
  }
  &--shanna {
    background-image: url("Images/Photo_930x1001.jpg");
  }
}