.page-title {
  font-size: $l5;
  font-weight: 200;
  background-image: url('Images/rikonavt-roses_2250x4000.jpg');
  background-size: cover;
  background-position: center;
  //backdrop-filter: opacity(40%);
  height: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  position: relative;

  &::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    backdrop-filter: contrast(50%) brightness(130%);
    background-color: #F7DED9;
    opacity: .75;
    z-index: 0;
    mix-blend-mode: hard-light;
  }
 
  p {
    margin: 0;
    margin-left: 1em;
    z-index: 1;
  }
}