@use '../abstracts' as *;

/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: 300 18px / 1.75 $text-font-stack;
  font-family: 'Roboto Condensed';
}
.big{
  font-size: $l3;
  color: $pink;
  text-align: center;
  display: block;
  
  @include atMedium {
    margin: $sp4 0;
    display: inline-block;
    text-align: left;
  }
}

.text {
  &--big {
    font-size: $l1;
    margin-bottom: $sp2;

    p {
    margin-left: 0;
    margin-right: 0;
    }
  }
}

p {
  margin: $sp3 $sp1;
}

